################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WebAPI/obj
/src/WebAPI/bin
/src/Application/bin
/src/Application/obj
/src/Domain/bin
/src/Domain/obj
/src/Infrastructure/bin/
/src/Infrastructure/obj
